@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400&family=Roboto+Mono:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}
#navbar {
  display: flex;

  justify-content: space-between;
  align-items: center;
  /* border:  1px solid black; */
  margin-bottom: 1%;
  padding: 1%;
  background-color: rgb(48,112,240);
  color: white;
}
#options {
  display: flex;
  gap: 100px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}
a:hover {
  color: black;
}
#display {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(50px);
  gap: 60px;
}
#box {
  border: 1px solid black;
  overflow: scroll;
  height: 500px;
  padding: 1%;
}
#box::-webkit-scrollbar {
  width: 0px;
}
#pic {
  width: 100%;
}

#container {
    
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container h2 {
    font-family: Roboto;
    text-align: center;
}
#container input {

    text-align: center;
    width: 400px;
    height: 40px;
    font-family: Roboto;
    margin-bottom: 3%;
}
